<?xml version="1.0"?>
<robot name="elsabot_robot" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find elsabot_robot)/urdf/mech/base.urdf.xacro" />
  <xacro:include filename="$(find elsabot_robot)/urdf/sensors/imu.urdf.xacro" />
  <xacro:include filename="$(find elsabot_robot)/urdf/sensors/gps.urdf.xacro" />
  <xacro:include filename="$(find elsabot_robot)/urdf/sensors/generic_laser.urdf.xacro" />
  <xacro:include filename="$(find elsabot_robot)/urdf/sensors/oakd_on_ptbase.urdf.xacro" />
  <xacro:include filename="$(find elsabot_robot)/urdf/sensors/hcsr04.urdf.xacro" />
  <xacro:include filename="$(find elsabot_robot)/urdf/sensors/hcsr04_servo_pan_mount.xacro" />
  
  <xacro:base 
    length="${base_length}" 
    width="${base_width}" 
    height="${base_height}" 
    mass="${base_mass}"
    wheel_radius="${wheel_radius}"
    wheel_pos_z="${wheel_pos_z}"
    mesh="package://elsabot_robot/meshes/ebot.stl"
  />
  
  <xacro:generic_laser
    gz_laser_topic="scan"
    gz_base_laser_topic="base_scan">
    <xacro:insert_block name="laser_pose" />
  </xacro:generic_laser>

  <xacro:imu
    gz_imu_topic="ebot/imu/data"
    gz_mag_topic="ebot/imu/mag">
    <xacro:insert_block name="imu_pose"/>
  </xacro:imu>

  <xacro:gps
    gz_gps_topic="gps/fix">
    <xacro:insert_block name="gps_pose"/>
  </xacro:gps>

  <xacro:depth_sensor>
    <xacro:insert_block name="depth_sensor_pose" />
  </xacro:depth_sensor>

  <xacro:hcsr04_servo_pan_mount
    frame_id="hcsr04_pan_joint_front"
    parent_link="base_link"
    child_link="hcsr04_front_servo_pan_link">
    <xacro:insert_block name="hcsr04_range_front_servo_pose" />
  </xacro:hcsr04_servo_pan_mount>

  <xacro:hcsr04_sensor
    frame_id="hcsr04_front"
    parent_link="hcsr04_front_servo_pan_link">
    <xacro:insert_block name="hcsr04_range_front_pose" />
  </xacro:hcsr04_sensor>

  <xacro:hcsr04_servo_pan_mount
    frame_id="hcsr04_pan_joint_back"
    parent_link="base_link"
    child_link="hcsr04_back_servo_pan_link">
    <xacro:insert_block name="hcsr04_range_back_servo_pose" />
  </xacro:hcsr04_servo_pan_mount>

  <xacro:hcsr04_sensor
    frame_id="hcsr04_back"
    parent_link="hcsr04_back_servo_pan_link">
    <xacro:insert_block name="hcsr04_range_back_pose" />
  </xacro:hcsr04_sensor>

  <gazebo>
    <plugin filename="gz-sim-joint-state-publisher-system" name="gz::sim::systems::JointStatePublisher"/>
    <plugin filename="gz-sim-sensors-system" name="gz::sim::systems::Sensors">
      <render_engine>ogre2</render_engine>
    </plugin>
    <plugin filename="gz-sim-imu-system" name="gz::sim::systems::Imu"/>
    <plugin filename="gz-sim-magnetometer-system" name="gz::sim::systems::Magnetometer"/>
    <plugin filename="gz-sim-navsat-system" name="gz::sim::systems::NavSat"/>
  </gazebo>

</robot>
